{
  "$schema": "https://sing-box.sagernet.org/schema.json",
  "log": {
    "level": "warn",
    "timestamp": true
  },
  "dns": {
    "servers": [
      {
        "type": "local",
        "tag": "system"
      },
      {
        "type": "tls",
        "tag": "bootstrap",
        "server": "223.5.5.5",
        "server_port": 853,
        "tls": {
          "enabled": true,
          "server_name": "dns.alidns.com"
        }
      },
      {
        "type": "https",
        "tag": "direct",
        "server": "dns.alidns.com",
        "path": "/dns-query",
        "tls": {
          "enabled": true,
          "server_name": "dns.alidns.com"
        },
        "domain_resolver": "bootstrap"
      },
      {
        "type": "https",
        "tag": "proxy",
        "server": "cloudflare-dns.com",
        "path": "/dns-query",
        "tls": {
          "enabled": true,
          "server_name": "cloudflare-dns.com"
        },
        "domain_resolver": "bootstrap",
        "detour": "🌐 Select Proxy"
      },
      {
        "type": "fakeip",
        "tag": "fakeip",
        "inet4_range": "198.18.0.0/16",
        "inet6_range": "2001:2::/49"
      }
    ],
    "rules": [
      {
        "rule_set": ["reject"],
        "action": "reject"
      },
      {
        "rule_set": [
          "lan",
          "direct",
          "fakeip-filter",
          "microsoft@cn",
          "apple@cn",
          "steam@cn",
          "domestic"
        ],
        "action": "route",
        "server": "direct"
      },
      {
        "action": "route",
        "query_type": ["A", "AAAA"],
        "server": "fakeip",
        "rewrite_ttl": 10
      }
    ],
    "final": "direct",
    "strategy": "prefer_ipv4",
    "cache_capacity": 4096,
    "reverse_mapping": true
  },
  "inbounds": [
    {
      "type": "mixed",
      "tag": "mixed-in",
      "listen": "127.0.0.1",
      "listen_port": 7890
    },
    {
      "type": "tun",
      "tag": "tun",
      "interface_name": "sing-box",
      "address": ["198.19.1.0/30", "2001:2:0:8000::/126"],
      "mtu": 1500,
      "stack": "gvisor",
      "dns_mode": "hijack",
      "auto_route": true,
      "strict_route": true,
      "auto_redirect": true,
      "route_exclude_address": [
        "10.0.0.0/8",
        "169.254.0.0/16",
        "172.16.0.0/12",
        "192.0.0.0/24",
        "192.0.2.0/24",
        "192.168.0.0/16",
        "224.0.0.0/3",
        "fd00::/8",
        "fe80::/10",
        "ff00::/8"
      ]
    }
  ],
  "outbounds": [
    {
      "type": "selector",
      "tag": "🌐 Select Proxy",
      "outbounds": ["⚡ Auto Proxy", "➡️ Direct"],
      "default": "⚡ Auto Proxy",
      "interrupt_exist_connections": false
    },
    {
      "type": "urltest",
      "tag": "⚡ Auto Proxy",
      "outbounds": [],
      "url": "https://www.apple.com/library/test/success.html",
      "interval": "30m",
      "tolerance": 50,
      "idle_timeout": "30m",
      "interrupt_exist_connections": false
    },
    {
      "type": "selector",
      "tag": "🧭 Fallback",
      "outbounds": ["➡️ Direct", "🌐 Select Proxy", "⚡ Auto Proxy"],
      "default": "🌐 Select Proxy",
      "interrupt_exist_connections": false
    },
    {
      "type": "direct",
      "tag": "➡️ Direct"
    }
  ],
  "http_clients": [
    {
      "tag": "direct"
    },
    {
      "tag": "proxy",
      "detour": "🌐 Select Proxy"
    }
  ],
  "route": {
    "rules": [
      {
        "action": "sniff"
      },
      {
        "ip_version": 6,
        "action": "reject"
      },
      {
        "protocol": "dns",
        "action": "hijack-dns"
      },
      {
        "ip_is_private": true,
        "action": "route",
        "outbound": "➡️ Direct"
      },
      {
        "rule_set": ["reject", "reject@ip"],
        "action": "reject"
      },
      {
        "rule_set": [
          "lan",
          "lan@ip",
          "direct",
          "direct@ip",
          "microsoft@cn",
          "apple@cn",
          "steam@cn"
        ],
        "action": "route",
        "outbound": "➡️ Direct"
      },
      {
        "rule_set": ["ai", "proxy", "proxy@ip"],
        "action": "route",
        "outbound": "🌐 Select Proxy"
      }
    ],
    "rule_set": [
      {
        "type": "remote",
        "tag": [
          "reject",
          "reject@ip",
          "direct",
          "direct@ip",
          "microsoft@cn",
          "apple@cn",
          "steam@cn",
          "ai",
          "proxy",
          "proxy@ip",
          "lan",
          "lan@ip",
          "fakeip-filter"
        ],
        "format": "binary",
        "url": "https://raw.githubusercontent.com/xndeye/rule-merger/release/{tag}.srs",
        "http_client": "proxy",
        "update_interval": "24h"
      }
    ],
    "auto_detect_interface": true,
    "default_domain_resolver": {
      "server": "direct",
      "strategy": "ipv4_only"
    },
    "default_http_client": "direct",
    "final": "🧭 Fallback"
  },
  "experimental": {
    "cache_file": {
      "enabled": true,
      "path": "cache.db",
      "store_fakeip": true,
      "store_dns": true
    }
  },
  "services": [
    {
      "type": "api",
      "listen": "127.0.0.1",
      "listen_port": 9090,
      "secret": "singbox",
      "access_control_allow_origin": [],
      "access_control_allow_private_network": false,
      "dashboard": {
        "enabled": true,
        "path": "ui",
        "download_url": "https://github.com/Zephyruso/zashboard/releases/download/v3.22.0/dist.zip",
        "http_client": "proxy",
        "update_interval": "24h"
      }
    }
  ]
}
